
@{
    ViewBag.Title = "Index";
}



<div class="img-responsive" style="position:absolute;top:250px;left:600px">
    <a href="Dashboard/Index" data-toggle="tooltip" title="Bana Tıkla Dashboard Gör :)"><img src="~/Content/petronet.jpg" alt="Örnek Resim" /></a>
</div>




